before_install: cd server
language: ruby
rvm:
 - 2.4
script: 
  - docker-compose build
  - docker-compose up -d postgres
  - sleep 20
  - docker-compose run rails bundle exec rake db:setup
  - travis_wait docker-compose up rails