development:
  adapter: postgresql
  encoding: unicode
  database: pg_dev
  pool: 5
  username: adam
  password: postgres

test:
  adapter: postgresql
  encoding: unicode
  database: pg_test
  pool: 5
  username: adam
  password: postgres

production:
  adapter: postgresql
  encoding: unicode
  database: pg_prod
  pool: 5
  username: adam
  password: postgres