version: '2.1'
services:
      rails:
        build: .
        command: "rails server -p 80 -b '0.0.0.0'"
        ports:
          - "80:80"
        depends_on:
            postgres:
              condition: service_healthy
        links:
          - postgres
        volumes:
          - type: volume
            source: tmpdata
            target: /tmp
      postgres:
        image: postgres:9.4
        ports:
          - "5432"
        healthcheck:
          test: ["CMD-SHELL", "pg_isready -U postgres"]
          interval: 3s
          timeout: 30s
          retries: 3 
volumes:
  tmpdata:
