version: '2.1'
services:
      rails:
        build: .
        command: "df -h"
        ports:
          - "80:80"
        depends_on:
            postgres:
              condition: service_healthy
        links:
          - postgres
        volumes:
        - tmp:/tmp
      postgres:
        image: postgres:9.4
        ports:
          - "5432"
        healthcheck:
          test: ["CMD-SHELL", "pg_isready -U postgres"]
          interval: 3s
          timeout: 30s
          retries: 3 

volumes:
  tmp: