version: '2.1'
services:
      rails:
        build: .
        command: "rake db:create; rails server -p 3000 -b '0.0.0.0'"
        ports:
          - "3000:3000"
        depends_on:
            postgres:
              condition: service_healthy
        links:
          - postgres
      postgres:
        image: postgres:9.4
        ports:
          - "5432"
        healthcheck:
          test: ["CMD-SHELL", "pg_isready -U postgres"]
          interval: 3s
          timeout: 30s
          retries: 3